.products {
    &-title {
        margin-bottom: 15px;
    }

    .products-grid-container {
        display: grid;
        grid-template-columns: repeat(3, 320px);
        grid-template-rows: auto;
        gap: 30px 25px;
    }
}