---
// Компоненты
import { ProductCard } from '../../components';

// Стили
import './products-layout.scss';
---

<div class="products">
  <h1 class="products-title">Deserts</h1>
  <div class="products-grid-container">
    <ProductCard />
    <ProductCard />
    <ProductCard />
    <ProductCard />
    <ProductCard />
  </div>
</div>
