@use '@src/variables' as v;

.cart {
    position: sticky;
    top: 20px;

    align-self: flex-start;
    width: 450px;
    font-weight: 600;

    box-sizing: border-box;
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 25px;

    display: flex;
    flex-direction: column;

    &__title {
        margin-bottom: 30px;
        font-family: 'RHT-700';
        color: v.$red;
    }

    &__item-container {
        max-height: 400px;
        padding-inline: 10px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
    }

    &__confirm-order {
        margin-top: 15px;

        .total-price-info {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .order-text {
                color: v.$rose-300;
            }

            .order-total-price {
                font-family: 'RHT-700';
                color: v.$rose-900;
            }
        }

        &-delivery {
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: v.$rose-100;
            padding: 20px 40px;
            border-radius: 10px;

            display: flex;
            align-items: center;
            gap: 10px;

            font-weight: 500;

            .delivery-text {
                color: v.$rose-500;
            }

            .delivery-text span {
                font-weight: 600;
                color: v.$rose-900;
            }
        }
    }
}

@media(max-width: 1250px) {
    .cart {
        width: 400px;
    }
}

@media(max-width: 1100px) {
    .cart {
        width: 360px;
    }
}

@media(max-width: 730px) {
    .cart {
        margin: 0 auto;
        width: 100%;
    }
}