---
// Стили
import './empty-cart.scss';
import { Image } from 'astro:assets';
---

<div class="cart">
  <h2 class="cart__title">Your Cart (0)</h2>
  <Image
    class="cart__img"
    src="/assets/illustration-empty-cart.svg"
    alt="Empty Cart"
    width={150}
    height={150}
  />
  <p class="cart__desc">Your added items will appear here</p>
</div>
