---
import '../main.scss';
import '../normalize.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Product List</title>
		<style>
			.attribution {
				font-size: 16px;
				text-align: center;
				background-color: hsl(13, 31%, 94%);
			}
			.attribution a {
				color: hsl(228, 45%, 44%);
			}
		</style>
	</head>
	<body>
		<div class="main-container">
			<slot />
		</div>

		<div class="attribution">
			Challenge by <a href="https://www.frontendmentor.io?ref=challenge">Frontend Mentor</a>. Coded
			by <a href="https://github.com/Pawlord">Pawlord</a>.
		</div>
	</body>
</html>
